@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

.App {
  text-align: center;
}

.Home {
  height: 100vh;
  width: 100vw;
  background-color: rgb(10, 88, 167);
}

.largeLogo{
  height: 200px;
}

.HomeBackground {
  position:absolute;
  background-position: top;
  background-size: 100vh;
  background-repeat: no-repeat;
  width:100vw;
  height: 65vh;
  border-bottom: rgb(143, 143, 238) 10px solid;
  padding: 2px;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 20px;
}

h1 {
  font-size: 5.5vh;
  margin-top: 0;
  padding-top: 15px;
}

.headerBottom {
  margin-bottom: 55vh;
}

.login {
  height: 50px;
  width: 200px;
  margin: 10vh;
  border-radius: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.logo {
  width: 40px;
  margin: 0 10px;
}

.Header {
  height: 45px;
  width: 100%;
  background-color: rgb(10, 88, 167);
  border-bottom: rgb(143, 143, 238) 2px solid;
  position: fixed;
  z-index: 2;
}

.upperDiv {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0, 10px;
}

.title {
  margin: 0;
  font-size: 34px;
}

.menuIcon {
  height: 35px;
  margin: 0 20px;
}

.desktopNav {
  position: absolute;
  right: 0px;
  top: 45px;
  background: rgb(10, 88, 167);
  z-index: 10;
}

li {
  border: rgb(143, 143, 238) 2px solid;
  border-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding: 5px 20px;
  font-size: 30px;
}

.link, a {
  text-decoration: none;
  color: inherit;
}

.Footer {
  width: 100vw;
  height: 40px;
  text-align: center;
  background-color: rgb(10, 88, 167);
  padding: 10px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
}

.newSearch {
  margin: 20px auto;
}

.aboutText {
  width: 70vw;
  margin: 30px auto;
  font-size: 16px;
  text-align: left;
  text-indent: 25px;
}

.aboutEnd{
  padding-bottom: 60px;
}

.About {
  background: linear-gradient(135deg, rgb(232, 232, 238), rgb(111, 111, 214));
}

.aboutLogo {
  margin-top: 150px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.SearchTerms, .loanItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.components {
  padding-top: 55px;
}

.termsHolder {
  width: 100vw;
  font-size: 22px;
  padding-left: 5vw;
  padding-right: 5vw;
}

input {
  border: 5px solid rgb(139, 194, 238); 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  font-size: 20px;
}

label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.sortBy{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 150px;
  margin-top: 5px;
}

input[type='radio']{
  margin-right: 10px;
}

.buttonHolder{
  width: 100vw;
  display: inline-block;
  margin-top: 30px;
}

.searchButton {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 5px;
}

.resetButton {
  margin-top: 20px;
  margin-bottom: 70px;
}

.backButton {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.savedButton {
  font-size: 20px;
  margin: 0;
  height: 50px;
  font-family: 'Oswald', sans-serif;
}

.savedSearch{
  width: 95vw;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(147, 179, 238);
  border-radius: 15px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  max-width: 600px;
}

.savedSearchButtons {
  grid-column-start: 0;
  grid-column-end: span 2;
  margin-top: 10px;
}

#b1 {
  border-radius: 25px 2px 2px 25px;
}

#b2 {
  border-radius: 2px 2px 2px 2px;
}

#b3 {
  border-radius: 2px 25px 25px 2px;
}

.resultsHead {
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
}

.autoEmail div {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

.autoEmail {
  width: 100vw;
  min-height: 40px;
  background-color: rgb(147, 179, 238);
  margin-top: 7px;
  padding: 5px 0;
}

.resSortBy, .resSortBy label {
  font-size: 20px;
}

.resSortBy {
  margin: 10px auto;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.ResultItem {
  background-color: rgb(147, 179, 238);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.resultHead {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 10px;
  text-align: left;
}

.resultDetails {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
  align-content: flex-start;
  text-align: left;
  margin: 10px;

}

.resultDetails h5 {
  margin-top: 5px;
}

.footnote {
  margin: 10px 0 50px 0;
}

.Zillow {
  text-decoration: navy underline;
}

.zillowLogo {
  border-radius: 10px;
  margin-top: 10px;
}

.hiddenMenu {
  display: none;
}

@media screen and (min-width: 1092px) {
  .menuIcon {
    display: none;
  }

  .hiddenMenu {
    display: flex;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
    justify-self: end;
  }

  .link {
    justify-self: start;
  }

  .hidden {
    margin: 0 5px;
  }

  .upperDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}