@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

.App {
  text-align: center;
}

.largeLogo {
  width: 178px;
  margin-top: 25vh;
  border-bottom: rgb(143, 143, 238) 20px;
}

.Home {
  background-image: url('https://static.pexels.com/photos/280222/pexels-photo-280222.jpeg');
  background-position: top;
  height: 100vh;
  background-size: 100vh;
  background-repeat: no-repeat;
  background-color: rgb(10, 88, 167);
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 20px;
}

h1 {
  font-size: 5vh;
}

.headerBottom {
  border-bottom: rgb(143, 143, 238) 10px solid;
  width: auto;
  padding: 2px
}

.login {
  height: 50px;
  width: 200px;
  margin: 10vh;
  border-radius: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.logo {
  width: 40px;
  margin: 0 10px;
}

.Header {
  height: 45px;
  width: 100%;
  background-color: rgb(10, 88, 167);
  border-bottom: rgb(143, 143, 238) 2px solid;
}

.upperDiv {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0, 10px;
}

.title {
  margin: 0;
  font-size: 40px;
}

.menuIcon {
  height: 35px;
  margin: 0 10px;
}

.desktopNav {
  position: absolute;
  right: 0px;
  top: 45px;
  background: rgb(10, 88, 167);
  z-index: 10;
}

li {
  border: rgb(143, 143, 238) 2px solid;
  border-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding: 5px 20px;
  font-size: 30px;
}

.link, a {
  text-decoration: none;
  color: inherit;
}

.newSearch {
  margin: 20px auto;
}

.aboutText {
  width: 70vw;
  margin: 20px auto;
}

.About {
  background: linear-gradient(135deg, rgb(232, 232, 238), rgb(111, 111, 214));
  padding-bottom: 30px;
}

.aboutLogo {
  margin-top: 100px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.SearchTerms {
  display: flex;
  flex-direction: column;
  align-items: center;
}